include ../arrow/arrow

mixin navigation({ items, activeLinkIndex, inColumn = false, withJs = false })
    -
        let className = 'navigation';
        if (inColumn) {
            className += ' navigation_in-column';
        }
        if (withJs) {
            className += ' js-navigation';
        }
    nav(class=className)
        ul.navigation__list
            each item, itemIndex in items
                -
                    const link = item.link || 'change-me';

                    let itemClassName = 'navigation__item';
                    if (item.isActive) {
                        itemClassName += ' navigation__item_active';
                    }

                li(class=itemClassName)
                    if (item.subitems)
                        button.navigation__link= item.name
                            +arrow({ withoutPadding: true })
                        ul.navigation__subitems
                            each subitem in item.subitems
                                li.navigation__subitem
                                    a.navigation__link(href=subitem.link || 'change-me')= subitem.name
                    else
                        a.navigation__link(href=link)= item.name
