include ../room-info/room-info
include ../rate-button/rate-button


mixin room-card({imagesSrc, hasSliderArrows = false, roomInfo, rating, numOfComments, link = 'room-details.html'})
    article.room-card.js-room-card
        -
            let sliderClassName = 'room-card__slider js-room-card__slider';
            if (hasSliderArrows) {
                sliderClassName += ' room-card__slider_with-arrows';
            }
        div(class=sliderClassName)
            each src in imagesSrc
                img.room-card__img(
                    src=src,
                    alt='room-image',
                )
        .room-card__content
            a.room-card__room-info(href=link)
                +room-info(roomInfo)
            .room-card__footer
                +rate-button(rating)
                p.room-card__comments= numOfComments
                    span.room-card__comments-measure Отзывов
