mixin text-field({placeholder, type, title, state, modName, className, arrow, value})
    -
        let additionalClassName = '';
        if (modName) {
            if (Array.isArray(modName)) {
                modName.forEach((val, index) => {
                    additionalClassName += `text-field_${val}`;
                    if (index !== modName.length - 1) {
                        additionalClassName += ' ';
                    }
                });
            } else {
                additionalClassName = `text-field_${modName}`;
            }
        }
    .text-field(class=`${className ? className : ''}${modName ? ' ' + additionalClassName: ''}`)
        if title
            .text-field__info
                h3.text-field__title= title
                if state
                    span.text-field__state= state
        .text-field__field
            input(type= type placeholder=placeholder value=`${value ? value : ''}`).text-field__input
            if arrow
                i.text-field__arrow.material-icons arrow_forward
