mixin text-field__input({placeholder = '', type = 'text', value = '', isReadonly = false, isMaskedDate = false} = {})
    -
        let className = 'text-field__input';
        if (isMaskedDate) {
            className += ' text-field__input_masked-date js-text-field__input_masked-date'
        }

    input(
        class=className,
        type=type,
        placeholder=placeholder,
        value=value,
        readonly=isReadonly
    )
