extends ../../../templates/ui-kit

block vars
    - let name = 'colors-and-type'


mixin color(name, hex, className)
    .color
        div(class=`color__demo ${className}`)
        .color__info
            .color__name= name
            .color__hex= hex


mixin type(name, text, tag)
    .type
        #{tag}.type__name= name
        #{tag}.type__text !{text}

block content
    .colors
        +color("Dark Shade 100%", "#1F2041", "color__demo_dark-shade-100")
        +color("Dark Shade 75%", "#1F2041", "color__demo_dark-shade-75")
        +color("Dark Shade 50%", "#1F2041", "color__demo_dark-shade-50")
        +color("Dark Shade 25%", "#1F2041", "color__demo_dark-shade-25")
        +color("Dark Shade 5%", "#1F2041", "color__demo_dark-shade-5")
        +color("Purple", "#BC9CFF", "color__demo_purple")
        +color("Green", "#6FCF97", "color__demo_green")

    .types
        +type("H1",
            "This one is the sub-section or widget title",
            "h1")
        +type("H2",
            "Next one is the item title inside widgets",
            "h2")
        +type("H3",
            "This is a label or CTA text",
            "h3")
        +type("Body",
            "This is the body text which is used for most<br>of the design, like paragraphs, lists, etc.",
            "p")

