mixin checkbox-buttons({items, isRich = false})
    -
        let className = 'checkbox-buttons';
        if (isRich) {
            className += ' checkbox-buttons_rich';
        }
    div(class=className)
        each item in items
            label.checkbox-buttons__button
                input.checkbox-buttons__input(
                    type='checkbox',
                    checked= item.checked
                )
                span.checkbox-buttons__name !{item.name}
                if (isRich)
                    span.checkbox-buttons__description !{item.description}
