include ./items-popup/popup

mixin dropdown({text, title, popupParams, modName, description})
    -
        let additionalClassName = '';
        if (modName) {
            if (Array.isArray(modName)) {
                modName.forEach((val, index) => {
                    additionalClassName += `dropdown_${val}`;
                    if (index !== modName.length - 1) {
                        additionalClassName += ' ';
                    }
                });
            } else {
                additionalClassName = `dropdown_${modName}`;
            }
        }
    .dropdown.js-dropdown(class=additionalClassName)
        .dropdown__info
            h3.dropdown__title= title
            if description
                span.dropdown__description= description

        .dropdown__input
            .dropdown__text= text
            i.dropdown__arrow.material-icons expand_more

        .dropdown__popup
            +popup(popupParams)
