include ../like-button/like-button


mixin comment({avatarLink, userName, date, text, likeOptions})
    .comment
        .comment__header
            img.comment__avatar(
                src=avatarLink,
                alt='user-avatar'
            )
            .comment__user-name= userName
            .comment__date= date
        .comment__content
            .comment__likes
                +like-button(likeOptions)
            .comment__text= text
