include ../like-button/like-button


mixin comment({avatarLink, userName, dateText, dateTime, text, likeOptions})
    article.comment
        .comment__header
            img.comment__avatar(
                src=avatarLink,
                alt='user-avatar'
            )
            h4.comment__user-name= userName
            time(datetime=dateTime).comment__date= dateText
        .comment__content
            .comment__likes
                +like-button(likeOptions)
            p.comment__text= text
