include ../like-button/like-button

mixin comment(options = {})
    -
        const {
            avatarLink,
            userName,
            dateText,
            dateTime,
            text,
            likeOptions,
            href = 'change-me',
        } = options;
    article.comment
        .comment__header
            img.comment__avatar(
                src=avatarLink,
                alt='user-avatar',
            )

            address
                a.comment__user-name(href=href)= userName
            time(datetime=dateTime).comment__date= dateText
        .comment__content
            .comment__likes
                +like-button(likeOptions)
            p.comment__text= text
