include ../button/button


mixin header(user, activeLink)
    -
        const navItems = [
            {
                name: 'О нас',
                dropdown: false
            },
            {
                name: 'Услуги',
                dropdown: true
            },
            {
                name: 'Вакансии',
                dropdown: false
            },
            {
                name: 'Новости',
                dropdown: false
            },
            {
                name: 'Соглашения',
                dropdown: true
            }
        ]

    header.header
        .header__container
            a.header__logo(href='landing-page.html')
                img(src='images/logo.svg', alt='logo')
            .header__menu.js-header__menu
                nav.header__nav
                    ul
                        - for (let i = 0; i < navItems.length; i++)
                            - let active = (i === activeLink)

                            li.header__nav-item(class= `${active ? 'header__nav-item_active': ''} ${
                                navItems[i].dropdown ? 'header__nav-item_dropdown-item': ''}`)

                                if (navItems[i].dropdown)
                                    div= navItems[i].name
                                    i.header__item-arrow.material-icons expand_more

                                else
                                    a(href='something')= navItems[i].name

                if user
                    .header__user= user
                else
                    .header__buttons
                        +button('Войти', 'button_secondary login-button', 'login-and-registration.html')
                        +button('Зарегистрироваться', 'signup-button', 'login-and-registration.html')
            .header__hamburger.js-header__hamburger
                span
                span
                span

